<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
        <div class="row">
            <div class="col-md-12">
                <span ng-click="vm.selectADate()">Select any date under Your Availability to book absence</span>
                <md-datepicker ng-model="vm.selectedDate"
                               ng-show="vm.showDatePicker"
                               md-placeholder="Enter date"
                               md-min-date="vm.minDate"
                               md-max-date="vm.maxDate"
                               md-date-filter="vm.onlyWeekdaysPredicate">
                </md-datepicker>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 line-separator">
                <span>Filter by:</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span>Workstream</span>
            </div>
            <div class="col-md-12" ng-repeat="workstream in ::vm.workstream track by $index">
                <span ng-bind="::workstream.shortName"></span>
                <span ng-bind="::workstream.name"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 line-separator">
                <span>Person</span>
            </div>
            <div class="col-md-12">
                <span ng-repeat="employee in ::vm.employeesObj track by $index" class="box-separator">
                    <span ng-bind="::employee.shortName" class="lightweight-border" ng-if="$index > 0"></span>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 line-separator">
                <span>Information:</span>
            </div>
            <div class="col-md-12 lightweight-border">
                <span>Available</span>
            </div>
            <div class="col-md-12 V">
                <span>Vocation</span>
            </div>
            <div class="col-md-12 T">
                <span>Training</span>
            </div>
            <div class="col-md-12 H">
                <span>Public Holiday</span>
            </div>
        </div>
    </div>

    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <td ng-repeat="employee in ::vm.employeesObj track by $index"
                            ng-class="{'line-header': $index > 0, 'my-availability-line-header': $index === 0 }">
                            <span ng-bind="::employee.shortName" title="{{::employee.name}}"></span>
                        </td>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="date in ::vm.rangeOfDates track by $index">
                        <td ng-repeat="day in ::vm.rangeOfDates track by $index" ng-if="::$index === 0">
                            <book-absence date="{{::date}}"></book-absence>
                        </td>
                        <td ng-repeat="employee in ::vm.employees track by $index" ng-if="::$index > 0">
                            <availability-of-the-day employee="{{::employee}}"
                                                     agenda="vm.employeesBook"
                                                     date="{{::date}}">
                            </availability-of-the-day>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
